@model IEnumerable<Interlog.HRTool.Data.Models.Company>

@{
    ViewData["Title"] = Localize("company.title.plural");
    ViewData["TableView"] = true;
}

<div>
    <h1>@Localize("company.title.plural")</h1>
</div>
<p>
    <a asp-action="Create">@Localize("general.button.createNew")</a>
</p>
@if (TempData["Success"] != null)
{
    <div class="text-success">@Localize("company.delete.SuccessMessage")</div>
}
else if (TempData["Error"] != null)
{

    <div class="text-danger">@Localize("company.delete.ErrorMessage")</div>
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Localize("company.name")</th>
                            <th>@Localize("company.departmentNumber")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Departments.Count
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">@Localize("general.button.edit")</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">@Localize("general.button.delete")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>@Localize("company.name")</th>
                            <th>@Localize("company.departmentNumber")</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
