@model IEnumerable<Interlog.HRTool.Data.Models.Department>

@{
    ViewData["Title"] = Localize("department.title.plural");
}

<h1>@Localize("department.title.plural")</h1>

<p>
    <a asp-action="Create">@Localize("general.button.createNew")</a>
</p>
@if (TempData["Success"] != null)
{
    <div class="text-success">@Localize("department.delete.successMessage")</div>
}
else if (TempData["Error"] != null)
{

    <div class="text-danger">@Localize("department.delete.ErrorMessage")</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Localize("department.name")
            </th>
            <th>
                @Localize("department.company")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localize("general.button.edit")</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localize("general.button.delete")</a>
                </td>
            </tr>
        }
    </tbody>
</table>
