@model IEnumerable<Interlog.HRTool.Data.Models.Department>

@{
    ViewData["Title"] = Localize("department.title.plural");
    ViewData["TableView"] = true;
}

<h1>@Localize("department.title.plural")</h1>

<p>
    <a asp-action="Create">@Localize("general.button.createNew")</a>
</p>
@if (TempData["Success"] != null)
{
    <div class="text-success">@Localize("department.delete.successMessage")</div>
}
else if (TempData["Error"] != null)
{

    <div class="text-danger">@Localize("department.delete.ErrorMessage")</div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Localize("department.name")
                            </th>
                            <th>
                                @Localize("department.company")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">@Localize("general.button.edit")</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">@Localize("general.button.delete")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                @Localize("department.name")
                            </th>
                            <th>
                                @Localize("department.company")
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
