@model Interlog.HRTool.Data.Models.Profile

@{
    ViewData["Title"] = Localize("title.delete");
}

<h1>@Localize("title.delete")</h1>

<h3>@Localize("delete.confirmMessage")</h3>
<div>
    <h4>@Localize("profile.title")</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localize("profile.name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localize("general.button.delete")" class="btn btn-danger" /> |
        <a asp-action="Index">@Localize("general.button.backToList")</a>
    </form>
</div>
