@model IEnumerable<Interlog.HRTool.Data.Models.Profile>

@{
    ViewData["Title"] = Localize("profile.title.plural");
}

<h1>@Localize("profile.title.plural")</h1>

<p>
    <a asp-action="Create">@Localize("general.button.createNew")</a>
</p>

@if (TempData["Success"] != null)
{
    <div class="text-success">@Localize("profile.delete.successMessage")</div>
}
else if (TempData["Error"] != null)
{

    <div class="text-danger">@Localize("profile.delete.errorMessage")</div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Localize("profile.name")
            </th>
            <th>
                @Localize("profile.employeeNumber")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Employees.Count
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localize("general.button.edit")</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localize("general.button.delete")</a>
                </td>
            </tr>
        }
    </tbody>
</table>
