@model Interlog.HRTool.WebApp.Models.Profile.ProfileIndexViewModel

@{
    ViewData["Title"] = Localize("profile.title.plural");
    ViewData["TableView"] = true;
}

<h1>@Localize("profile.title.plural")</h1>

@*<p>
    <a asp-action="Create">@Localize("general.button.createNew")</a>
</p>*@

@if (TempData["Success"] != null)
{
    <div class="text-success">@Localize("profile.delete.successMessage")</div>
}
else if (TempData["Error"] != null)
{

    <div class="text-danger">@Localize("profile.delete.errorMessage")</div>
}

<!--add profile-->
<div class="pb-5">
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addModal">@Localize("general.button.createNew")</button>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="Create">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">@Localize("title.create")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Profile.Name" class="control-label">@Localize("profile.name")</label>
                        <input asp-for="Profile.Name" class="form-control" />
                        <span asp-validation-for="Profile.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">@Localize("general.button.create")</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Localize("profile.name")
                            </th>
                            <th>
                                @Localize("profile.employeeNumber")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Profiles)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Employees
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">@Localize("general.button.edit")</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">@Localize("general.button.delete")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                @Localize("profile.name")
                            </th>
                            <th>
                                @Localize("profile.employeeNumber")
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


